<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"  rel="stylesheet" />
    <script src="https://kit.fontawesome.com/58f19d8ff4.js" crossorigin="anonymous"  ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    
    <title>Document</title>
</head>
<body class="body-login">
    
    <header>
        <div class="logo-search">
            <img class="headerlogo" src="/images/logo-mercado-liebre.svg" />
          
            <div class="lupa-search">
            <input class="search"  type="text" id="searchterm" placeholder="search"/>
            <button><i class="fa-solid fa-magnifying-glass"></i> </button>
              
            </div>
      
      
          </div>
         
         
      
            <h3 class="header-title">Comprá en cuotas y sin tarjeta de crédito</h3>
            <nav>
              
              <ul>
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
              </ul>
      
              <ul>
                <li>
                  <a href="/register"> crea tu cuenta</a><i class="fa-solid fa-id-card"></i>
                </li>
                <li>
                  <a href="/login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                  <a href=""> mis compras</a><i class="fa-solid fa-cart-shopping"></i>
                </li>
              </ul>
            </nav>
      
            <div class="burgermenu"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main>
    <form class="form-login" action="/" method="get">
        <input class="input-login" type="text" name="nombredeusuario" placeholder="Nombre de Usuario" >
        <br>
        <br>
        <input class="input-login" type="password" name="password" placeholder="Contraseña">
        <br>
        <br>
        <button class="input-login-button" type="submit">ENVIAR</button>
    </form>
    </main>
</body>
</html>