<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"  rel="stylesheet" />
    <script src="https://kit.fontawesome.com/58f19d8ff4.js" crossorigin="anonymous"  ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    
    <title>Document</title>
</head>
<body  class="body-register">
    <header>
        <div class="logo-search">
            <img class="headerlogo" src="/images/logo-mercado-liebre.svg" />
          
            <div class="lupa-search">
            <input class="search"  type="text" id="searchterm" placeholder="search"/>
            <button><i class="fa-solid fa-magnifying-glass"></i> </button>
              
            </div>
      
      
          </div>
         
         
      
            <h3 class="header-title">Comprá en cuotas y sin tarjeta de crédito</h3>
            <nav>
              
              <ul>
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
              </ul>
      
              <ul>
                <li>
                  <a href="/register"> crea tu cuenta</a><i class="fa-solid fa-id-card"></i>
                </li>
                <li>
                  <a href="/login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                  <a href=""> mis compras</a><i class="fa-solid fa-cart-shopping"></i>
                </li>
              </ul>
            </nav>
      
            <div class="burgermenu"><i class="fa-solid fa-bars"></i></div>
    </header>
   <main class="main-register">
    <form class="form-register" action="/" method="get">
        
        <input class="form-input" type="text" name="nombre" placeholder="Nombre y Apellido" >
        <br>
        <input class="form-input" type="text" name="nombredeusuario" placeholder="Nombre de Usuario" >
        <br>
        <label for="">Fecha de nacimiento</label>
        <br>
        <input class="form-input" type="date" name="fecha de nacimiento" placeholder="Fecha de nacimiento">
        <br>
        <input class="form-input" type="text" name="domicilio" placeholder="Domicilio">
        <br>
        <label for="perfildeusario">Perfil de Usuario</label>
        <br>
        <br>
        <input  type="radio" name="perfildeusario" id="perfildeusario"> vendedor 
        <input  type="radio" name="perfildeusario" id="perfildeusario"> comprador
        <br>
        <br>
        <label for="categoria de interes">Intereses</label>
        <br>
        <br>
        <input  type="checkbox" name="categoria de interes" id="categoria de interes" value="1">Electro
        <br>
        <input  type="checkbox" name="categoria de interes" id="categoria de interes" value="2">Moda
        <br>
        <input  type="checkbox" name="categoria de interes" id="categoria de interes" value="3">Hogar
        <br>
        <input  type="checkbox" name="categoria de interes" id="categoria de interes" value="4">Jugueteria
        <br>
        <input  type="checkbox" name="categoria de interes" id="categoria de interes" value="5">Vida Sana
        <br>
        <br>
        <label for="foto de perfil">Foto de Perfil</label>
        <br>
        <input  type="file" name="foto de perfil" id="foto de perfil">
        <br>
        <br>
        <input class="form-input" type="email" name="email" placeholder="E-Mail" >
        <br>
        <input class="form-input" type="password" name="password" placeholder="Contraseña">
        <br>
         <input class="form-input" type="password" name="password" placeholder="Confirmar Contraseña">
        <br>
        <button class="button-send-register" type="submit">ENVIAR</button>
        <br>
        <button type="reset">BORRAR</button>
      
    </form>
</main>
</body>
</html>